<html>

<head>
  <link rel="stylesheet" href="css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="lstyle.css" />
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="lstyle.css" />
  <title>Sign in</title>
</head>

<body>
  <div class="main">
    <h1 class="sign" align="center">Welcome!</h1>
    <P class="som" >To create a room you must enter your credentials</P>
    <form class="form1" action="/login" method="post">
      <input class="un " name="useremail" type="text" align="center" placeholder="user-email">
      <input class="pass" type="password" align="center" placeholder="password">
      <!-- <a class="submit" align="center">Create room</a>    -->
      <button class="submit" type="submit">Create room</button>
    </form>        
    </div>
     
</body>
</html>
